@charset "utf-8";
/* CSS Document */

body {
	background-image: url(/img/texture.png);
}

h1 {
	margin: 0 auto 10px auto;
	color: #000;
	text-align: center;
	font-weight: 100;
	font-size: 40px;
	line-height: 60px;
	opacity: 0.8;
	cursor: default;
}

h2 {
	margin: 0 0 80px 0;
	color: #000;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	line-height: 60px;
	opacity: 0.8;
	cursor: default;
}

.main {
	margin: 0 auto 0 auto;
	width: 260px;
}

.over {
	margin: 0 auto 0 auto;
	padding: 12px 12px;
	width: 80px;
	border: 2px solid rgba(0,0,0,0.6);
	background: rgba(151,167,145,0.7);
	box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.7);
	color: #000;
	text-align: center;
	font-weight: bold;
	cursor: Pointer;
}

.left {
	float: left;
}

.right {
	float: right;
}

.over:hover {
	background: rgba(0,0,0,0.7);
	color: #97a791;
}
