@charset "utf-8";
/* CSS Document */

body {
	background-image: url(https://muxmus.com/img/texture.png);
}

h1 {
	color: white;
	text-align: center;
	line-height: 60px;
	font-size: 40px;
	font-weight: 100;
	margin: 0 auto 10px auto;
	opacity: 0.8;
	cursor: default;
}
			
h2 {
	color: white;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	font-weight: 500;
	margin: 0 0 80px 0;
	opacity: 0.8;
	cursor: default;
}
			
div.main{
	width:260px;
	margin: 0 auto 0 auto;
}
			
.over {
	margin: 0 auto 0 auto;
	text-align: center;
	font-weight: bold;
	color: rgba(255,255,255,0.7);
	border: 2px solid #1F1F1F;
	padding: 12px 12px; background: #1F1F1F;
	width: 80px;
	box-shadow: 0px 0px 35px 5px #565656;
	cursor: Pointer;
}
			
.left {
	float: left;
}
			
.right {
	float: right;
}
			
.over:hover {
	color: #1F1F1F;
	background: #909090;
}
