@charset "utf-8";
/* CSS Document */

body {
	background-image: url(https://muxmus.com/img/texture.png);
	font-family: "LXGW WenKai GB Screen";
	font-weight: normal;
	
}

a {
	color: #0051af;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	position: relative;
	margin: 0px 0 50px 0;
	color: #000;
	text-align: center;
	font-weight: 100;
	font-size: 60px;
	line-height: 60px;
}

p {
	margin: 20px 0;
	color: #000;
	line-height: 1.2;
}

.over {
	margin: 50px auto 50px auto;
	width: min(800px, 100%);
	cursor: default;
	font-size: large;
}

/* twikoo */

.twikoo .el-input-group__prepend {
	border-color: rgb(0 0 0 / .4) !important;
}

.twikoo .el-input__inner {
	border-color: rgb(0 0 0 / .4) !important;
}

.twikoo .el-input__inner:hover {
	border-color: #000 !important;
}

.twikoo .el-input__inner::placeholder {
	color: rgb(0 0 0 / .3) !important;
}

.twikoo .el-textarea__inner {
	border-color: rgb(0 0 0 / .4) !important;
}

.twikoo .el-textarea__inner:hover {
	border-color: #000 !important;
}

.twikoo .el-textarea__inner::placeholder {
	color: rgb(0 0 0 / .3) !important;
}

.tk-avatar .tk-avatar-img {
	color: rgb(0 0 0 / .7) !important;
}

.tk-submit-action-icon.__markdown {
	display: none !important;
}

.tk-footer {
	display: none !important;
}

.tk-extras {
	color: #000 !important;
}

.tk-nick-link:hover {
	color: #0051af !important;
}
