@charset "utf-8";
/* CSS Document */

.divb {
	position: fixed;
	cursor: default;
	width: 80px;
	height: 60px;
	background: rgba(0,0,0,0.00);
	top:100%;
	left: 0%;
	transform: translate(10px,-70px);
	z-index: 2;
}

.divn {
	position: fixed;
	width: 25px;
	height: 25px;
	background: rgba(0,0,0,0.00);
	top:100%;
	left: 0%;
	transform: translate(50px,-30px);
}

.divs {
	position: fixed;
	width: 500px;
	height: 20px;
	background: rgba(0,0,0,0.00);
	top:100%;
	left: 0%;
	transform: translate(60px,-54px);
	z-index: 1;
}

.song1 {
	color: #fff;
	opacity: 0.7;
	z-index: 0;
	cursor: default;
	font-size: 15px;
}

.song2 {
	color: #fff;
	opacity: 0;
	z-index: -1;
	cursor: default;
	font-size: 15px;
}

.up1 {
	width: 17px;
	height: 17px;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}

.up2 {
	width: 17px;
	height: 17px;
	opacity: 0.8;
	z-index: 0;
	cursor: pointer;
}

.up2:hover {
	opacity: 1.0;
}

.down1 {
	width: 17px;
	height: 17px;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}

.down2 {
	width: 17px;
	height: 17px;
	opacity: 0.8;
	z-index: 0;
	cursor: pointer;
}

.down2:hover {
	opacity: 1.0;
}

.next1 {
	width: 25px;
	height: 25px;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
}

.next2 {
	width: 25px;
	height: 25px;
	opacity: 0.8;
	z-index: 0;
	cursor: pointer;
}

.next2:hover {
	opacity: 1.0;
}

#audio {
	cursor: pointer;
}

#stop {
	width: 40px;
	height: 40px;
	opacity: 0.8;
}

#stop:hover {
	opacity: 1.0;
}