@charset "utf-8";
/* CSS Document */

a {
	color: #fff;
	opacity: 1.0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.divm {
	color: rgba(255,255,255,0.8);
	background-color: #323232;
	border-style: solid;
	border-radius: 40px;
	border-width: 0px;
	margin: 100px 16%;
	padding: 30px 5%;
}

.date {
	font-size: 13px;
	opacity: 0.6;
}

.tx {
	width: 150px;
	height: 150px;
	position: absolute;
	left:50%; top: 0%;
	margin-left: -75px;
	margin-top: 75px;
	opacity: 0.8;
}

.js {
	width: 350px;
	height: 600px;
	position: absolute;
	left:50%;
	top: 0%;
	margin-left:-175px;
	margin-top: 250px;
	text-align: center;
	color: #fff;
	opacity: 0.8;
}

.cd {
	width: 40px;
	height: 40px;
	opacity: 0.8;
}

.cd:hover {
	opacity: 1.0;
}

.dk {
	z-index: 99;
	position: fixed;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.00);
	top: 0%;
	left: 100%;
	transform: translate(-60px,20px);
}

.gb {
	opacity: 0;
	z-index: 89;
	position: fixed;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.00);
	top: 0%;
	left: 100%;
	transform: translate(-60px,20px);
}

#slider{
	width: 350px;
	position: fixed;
	background-color: rgba(40,40,40,0.7);
	top: 0;
	bottom: 0;
	right:-350px;
	transition: right 0.1s;
}
