@import url(https://fonts.googleapis.com/css?family=Lato:600);

.rotating-text {
  position: fixed;
  width: 400px;
  height: 300px;
  background: rgba(0,0,0,0.00);
  top:45%;
  left: 50%;
  transform: translate(-200px,-150px);
  text-align: center;
}
.rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.38s ease;
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}

.alizarin {
  color: #fff;
}

.wisteria {
  color: #fff;
}
