@charset "utf-8";
/* CSS Document */

.gt-counts {
	color: #000;
}

.gt-user-name {
	color: #000;
}

.gt-comments-null {
	color: #000;
}

.gt-ico-text {
	color: #0051af;
}

.gt-link-project {
	color: #0051af;
}
