@charset "utf-8";
/* CSS Document */

svg {
	fill: #0051af;
}

.gt-container a {
	color: #0051af;
}

.gt-container a:hover {
	color: #0056ba;
}

.gt-counts {
	color: #000;
}

.gt-user-name {
	color: #000;
}

.gt-comments-null {
	color: #000;
}

.gt-ico-text {
	color: #0051af;
}

.gt-link-project {
	color: #0051af;
}
