@charset "utf-8";
/* CSS Document */

body {
	background-color: black;
	font-family: "LXGW WenKai GB Screen", sans-serif;
}

p {
	font-size: 18px;
	cursor: default;
}

strong {
	color: #000;
	text-align: center;
	font-weight: normal;
	cursor: default;
}

a {
	color: #000;
	text-decoration: none;
}

em {
	color: #000;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}

em .title {
	font-weight: 100;
	font-size: 40px;
}

em .img {
	font-style: normal;
}

em .logo {
	width: 40px;
	height: 40px;
	margin: 15px 0px 0px 0px;
	transition: .6s;
}

em .logo:hover {
	transform: rotate(-360deg);
}

em:not(.title):hover {
	text-decoration: underline;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.lianJie {
	color: #0051af;
	text-decoration: none;
}

.h2 {
	cursor: default;
}

.dateTime {
	font-weight: bold;
}

.divm {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 60%;
	height: calc(100% - 60px);
	text-align: center;
	transform: translate(-50%,-50%);
	padding: 30px 5%;
	overflow-y: auto;
	background-color: rgba(230,230,230,0.8);
	color: rgb(0,0,0);
	z-index: 1;
	border: 2px solid rgba(0,0,0,0);
}

.divm .heng {
	width: 60%;
	max-width: 600px;
	height: auto;
}

.divm .shu {
	width: 40%;
	max-width: 400px;
	height: auto;
}

.divm .tuPian {
	text-align: center;
}

.divm .zhuShi {
	font-size: 14px;
}

.divm .title {
	color: #000;
	text-decoration: none;
}

.divm a:hover {
	text-decoration: underline;
}

.text-left {
	text-align: left !important;
}

.date {
	font-size: 13px;
}

.tx {
	width: 100px;
	height: 100px;
	transition: .6s;
}

.tx:hover {
	transform: rotate(-360deg);
}

.scrolling-area {
	direction: ltr;
}

.js {
	max-width: 350px;
	max-height: calc(100vh - 100px);
	overflow: auto;
	margin: 50px;
	direction: rtl;
	color: #fff;
	text-align: center;
}

.js p {
	font-size: 15px;
	line-height: 12px;
}

.js a {
	color: #fff;
	text-decoration: none;
}

.js a:hover {
	text-decoration: underline;
}

.js .small {
	font-size: 12px;
}

.js #index {
	font-size: 18px;
}

.bq {
	height: 20px;
	cursor: pointer;
	vertical-align: bottom;
}

#input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -99;
	cursor: default;
	pointer-events: none;
}

.cd {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.dk {
	position: fixed;
	top: 0%;
	left: 100%;
	z-index: 110;
	width: 30px;
	height: 30px;
	background: rgb(230,230,230,0.6);
	transform: translate(-30px,0);
}

.gb {
	position: fixed;
	top: 0%;
	left: 100%;
	z-index: 109;
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,0);
	opacity: 0;
	transform: translate(-30px,0);
}

#slider {
	position: fixed;
	top: 0;
	right: -400px;
	bottom: 0;
	width: 400px;
	background-color: rgba(80,80,80,0.8);
	transition: right 0.1s;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	z-index: 100;
}

#back {
	position: fixed;
	top: 50px;
	z-index: 2;
	width: 80px;
	height: 20px;
	text-align: left;
	background: rgba(0,0,0,0);
	font-size: 15px;
}

.twikoo {
	text-align: left;
}

@media all and (orientation : landscape) {
	
	.divm::-webkit-scrollbar {
		width: 12px;
	}
	
	.divm::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background-color: #858585;
	}

	.divm::-webkit-scrollbar-thumb:hover{
		background-color:#666;
	}
	
}

@media all and (orientation : portrait) {
	
	#slider {
		position: fixed;
		top: 0;
		right: -100%;
		bottom: 0;
		width: 100%;
		background-color: rgba(80,80,80,0.8);
		transition: right 0.1s;
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 0;
		z-index: 100;
	}
	
	.divm {
		position: fixed;
		top: 50%;
		left: 50%;
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		text-align: center;
		transform: translate(-50%,-50%);
		padding: 30px;
		text-align: center;
		overflow-y: auto;
		background-color: rgba(230,230,230,0.7);
		color: rgb(0,0,0);
		z-index: 1;
		border: 0px;
	}

	.divm .heng {
		width: 100%;
		max-width: 550px;
		height: auto;
	}

	.divm .shu {
		width: 70%;
		max-width: 350px;
		height: auto;
	}

	.js {
		max-width: calc(100vh - 150px);
		max-height: calc(100vh - 100px);
		overflow: auto;
		margin: 50px;
		direction: rtl;
		color: #fff;
		text-align: center;
	}

	#back {
		position: fixed;
		top: 50px;
		z-index: 2;
		width: 80px;
		height: 20px;
		text-align: left;
		background: rgba(0,0,0,0);
		font-size: 15px;
	}

	.aplayer.aplayer-fixed .aplayer-lrc {
		left: 20px !important;
		right: 30px !important;
	}

}
