@charset "utf-8";
/* CSS Document */

/* index */

body {
	background-color: black;
	font-family: "LXGW WenKai Screen", sans-serif;
}

p {
	font-size: 18px;
	cursor: default;
}

strong {
	color: #000;
	text-align: center;
	font-weight: normal;
	cursor: default;
}

a {
	color: #000;
	text-decoration: none;
}

em {
	color: #000;
	text-align: center;
	font-weight: normal;
	font-style: normal;
}

em .title {
	font-weight: 100;
	font-size: 40px;
}

em .img {
	font-style: normal;
}

em .logo {
	width: 40px;
	height: 40px;
	margin: 15px 0px 0px 0px;
	transition: .6s;
}

em .logo:hover {
	transform: rotate(-360deg);
}

em:not(.title):hover {
	text-decoration: underline;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
	font-size: 17px;
}

.lianJie {
	color: #0051af;
	text-decoration: none;
}

.h2 {
	cursor: default;
}

.dateTime {
	font-weight: bold;
}

.divm {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 80%;
	text-align: center;
	transform: translate(-50%,-50%);
	padding: 30px 5%;
	overflow-y: auto;
	background-color: rgba(230,230,230,0.8);
	color: rgb(0,0,0);
	z-index: 1;
}

.divm .heng {
	width: 40%;
	max-width: 400px;
	height: auto;
}

.divm .shu {
	width: 30%;
	max-width: 300px;
	height: auto;
}

.divm .tuPian {
	text-align: center;
}

.divm .zhuShi {
	font-size: 14px;
}

.divm .title {
	color: #000;
	text-decoration: none;
}

.divm a:hover {
	text-decoration: underline;
}

.text-left {
	text-align: left !important;
}

.date {
	font-size: 13px;
}

.tx {
	width: 100px;
	height: 100px;
}

.scrolling-area {
	direction: ltr;
}

.js {
	max-width: 350px;
	max-height: calc(100vh - 100px);
	overflow: auto;
	margin: 50px;
	direction: rtl;
	color: #fff;
	text-align: center;
}

.js p {
	font-size: 15px;
	line-height: 12px;
}

.js a {
	color: #fff;
	text-decoration: none;
}

.js a:hover {
	text-decoration: underline;
}

.js .small {
	font-size: 12px;
}

.js #index {
	font-size: 18px;
}

.bq {
	height: 20px;
	cursor: pointer;
	vertical-align: bottom;
}

#input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: -99;
	cursor: default;
	pointer-events: none;
}

.cd {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.dk {
	position: fixed;
	top: 0%;
	left: 100%;
	z-index: 110;
	width: 30px;
	height: 30px;
	background: rgb(230,230,230,0.6);
	transform: translate(-30px,0);
}

.gb {
	position: fixed;
	top: 0%;
	left: 100%;
	z-index: 109;
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,0);
	opacity: 0;
	transform: translate(-30px,0);
}

#slider {
	position: fixed;
	top: 0;
	right: -400px;
	bottom: 0;
	width: 400px;
	background-color: rgba(80,80,80,0.8);
	transition: right 0.1s;
	overflow-x: hidden;
	overflow-y: auto;
	opacity: 0;
	z-index: 100;
}

#back {
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 2;
	width: 80px;
	height: 20px;
	text-align: left;
	background: rgba(0,0,0,0);
	transform: translate(10px,10px);
	font-size: 15px;
}

@media all and (orientation : portrait) {
	
	#slider {
		position: fixed;
		top: 0;
		right: -100%;
		bottom: 0;
		width: 100%;
		background-color: rgba(80,80,80,0.8);
		transition: right 0.1s;
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 0;
		z-index: 100;
	}
	
	.divm {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 100%;
		height:100%;
		text-align: center;
		transform: translate(-50%,-50%);
		padding: 0px;
		text-align: center;
		overflow-y: auto;
		background-color: rgba(230,230,230,0.7);
		color: rgb(0,0,0);
		z-index: 1;
	}

	.divm .heng {
		width: 80%;
		max-width: 400px;
		height: auto;
	}

	.divm .shu {
		width: 60%;
		max-width: 300px;
		height: auto;
	}

	.js {
		max-width: calc(100vh - 150px);
		max-height: calc(100vh - 100px);
		overflow: auto;
		margin: 50px;
		direction: rtl;
		color: #fff;
		text-align: center;
	}

	#back {
		position: fixed;
		top: 0%;
		left: 0%;
		z-index: 2;
		width: 80px;
		height: 20px;
		text-align: left;
		background: rgba(0,0,0,0);
		transform: translate(10px,30px);
		font-size: 15px;
	}

	.aplayer.aplayer-fixed .aplayer-lrc {
		left: 84px !important;
	}

}

/* bg */

body {
	background-color: black;
}

#bg1 {
	position: fixed;		
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	transform: translate(0px, 0px);
	z-index: -10;
	opacity: 0;
	transition: opacity 1.5s ease-in-out;
}

#bg2 {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	transform: translate(0px, 0px);
	z-index: -11;
	opacity: 1;
}

#bg3 {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	transform: translate(0px, 0px);
	z-index: -12;
	opacity: 0;
}

.bf {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: left;
	z-index: 99;
	cursor: pointer;
}

.zt {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: left;
	opacity: 0;
	z-index: -99;
}

.yc {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	right: 0;
	margin: left;
	z-index: 99;
	cursor: pointer;
}

.xs {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	right: 0;
	margin: left;
	opacity: 0;
	z-index: -99;
}


.left {
	position: fixed;
	top: 50%;
	left: 0%;
	width: 16px;
    	height: 120px;
    	text-align: center;
    	transform: translate(0%,-50%);
	text-align: center;
	background-color: rgba(230,230,230,0.6);
	z-index: 120;
	cursor: pointer;
}

.left1 {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transform:rotate(180deg);
}

.right {
	position: fixed;
    	top: 50%;
    	left: 100%;
    	width: 16px;
    	height: 120px;
    	text-align: center;
    	transform: translate(-100%,-50%);
	text-align: center;
	background-color: rgba(230,230,230,0.6);
	z-index: 120;
	cursor: pointer;
}

.right1 {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#artist {
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 120;
	width: 85%;
	height: 20px;
	background: rgba(0,0,0,0);
	text-align: left;
	font-size: 15px;
	transform: translate(0%,0%);
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
} 

#bgName {
	color: rgb(0,0,0);
	background: rgb(230,230,230,0.6);
}

#title {
	color: rgb(0,0,0);
	text-decoration: none;
	cursor: pointer;
}

#title:hover {
	text-decoration: underline;
}

/* github-dark */

pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{color:#c9d1d9;background:#0d1117}.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{color:#ff7b72}.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#d2a8ff}.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{color:#79c0ff}.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#a5d6ff}.hljs-built_in,.hljs-symbol{color:#ffa657}.hljs-code,.hljs-comment,.hljs-formula{color:#8b949e}.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{color:#7ee787}.hljs-subst{color:#c9d1d9}.hljs-section{color:#1f6feb;font-weight:700}.hljs-bullet{color:#f2cc60}.hljs-emphasis{color:#c9d1d9;font-style:italic}.hljs-strong{color:#c9d1d9;font-weight:700}.hljs-addition{color:#aff5b4;background-color:#033a16}.hljs-deletion{color:#ffdcd7;background-color:#67060c}
