@charset "utf-8";
/* CSS Document */

body {
	background-image: url(/img/texture.png);
}

p {
	font-size: 18px;
	cursor: default;
}

strong {
	color: #000;
	text-align: center;
	font-weight: normal;
	opacity: 0.8;
	cursor: default;
}

a {
	color: #000;
	text-decoration: none;
}

em {
	color: #000;
	text-align: center;
	font-weight: normal;
	font-style: normal;
	opacity: 0.8;
}

em .title {
	font-weight: 100;
	font-size: 40px;
}

em .title:hover {
	text-decoration: none;
	opacity: 1.0;
}

em .img {
	font-style: normal;
	opacity: 0.7;
}

em:hover {
	text-decoration: underline;
	opacity: 1.0;
}

@media all and (orientation : portrait) {
	
	.divm {
		margin: 70px 4%;
		padding: 20px 5%;
		border-style: solid;
		border-width: 0px;
		border-radius: 40px;
		background-color: rgba(111,127,105,0.7);
		color: rgba(0,0,0,0.8);
	}

	.divm .heng {
		width: 100%;
		height: auto;
	}

	.divm .shu {
		width: 100%;
		height: auto;
	}
}

.lianJie ｛
	color: #0051af;
｝

.logo {
	width: 60px;
	height: 85px;
}

.h2 {
	cursor: default;
}

.dateTime {
	font-weight: bold;
}

.divm {
	margin: 100px 8%;
	padding: 30px 5%;
	border-style: solid;
	border-width: 0px;
	border-radius: 40px;
	background-color: rgba(111,127,105,0.7);
	color: rgba(0,0,0,0.8);
}

.divm .heng {
	width: 50%;
	height: auto;
}

.divm .shu {
	width: 30%;
	height: auto;
}

.divm .tuPian {
	text-align: center;
}

.divm .zhuShi {
	font-size: 16px;
	opacity: 0.9;
}

.divm .title {
	color: #000;
	text-decoration: none;
	opacity: 1.0;
}

.divm .lianJie a {
	color: #58a6ff;
	text-decoration: none;
	opacity: 0.8;
}

.divm a:hover {
	text-decoration: underline;
}

.divm .title {
	color: #000;
	text-decoration: none;
	opacity: 1.0;
}

.divm .lianJie a {
	color: #58a6ff;
	text-decoration: none;
	opacity: 0.8;
}

.divm a:hover {
	text-decoration: underline;
}

.divz {
	position: fixed;
	top: 45%;
	left: 50%;
	width: 400px;
	height: 300px;
	background: rgba(0,0,0,0.00);
	text-align: center;
	transform: translate(-200px,-150px);
}

.divf {
	position: fixed;
	top: 96%;
	left: 50%;
	z-index: 3;
	width: 100px;
	height: 30px;
	background: rgba(0,0,0,0.00);
	text-align: center;
	font-size: 14px;
	cursor: default;
	transform: translate(-50px,-15px);
}

.date {
	font-size: 13px;
	opacity: 0.6;
}

.tx {
	position: absolute;
	top: 0%;
	left: 50%;
	margin-top: 75px;
	margin-left: -75px;
	width: 150px;
	height: 150px;
	opacity: 0.8;
}

.js {
	position: absolute;
	top: 0%;
	left: 50%;
	margin-top: 250px;
	margin-left: -175px;
	width: 350px;
	height: 600px;
	color: #000;
	text-align: center;
	opacity: 0.8;
}

.js a {
	color: #000;
	text-decoration: none;
	opacity: 0.8;
}

.js a:hover {
	text-decoration: underline;
}

.cd {
	width: 40px;
	height: 40px;
	opacity: 0.8;
	cursor: pointer;
}

.cd:hover {
	opacity: 1.0;
}

.dk {
	position: fixed;
	top: 0%;
	left: 100%;
	z-index: 99;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.00);
	transform: translate(-60px,20px);
}

.gb {
	position: fixed;
	top: 0%;
	left: 100%;
	z-index: 89;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.00);
	opacity: 0;
	transform: translate(-60px,20px);
}

#slider {
	position: fixed;
	top: 0;
	right: -350px;
	bottom: 0;
	width: 350px;
	background-color: rgba(71,87,65,0.8);
	transition: right 0.1s;
}
