@charset "utf-8";
/* CSS Document */

body {
	background: url("https://img.muxmus.com:5000/pixiv/87461089_p1.png") center center / cover no-repeat fixed black;
	margin: 0px;
	font-family: "LXGW WenKai GB Screen";
	font-weight: normal;
}

.topDiv {
	font-size: 18px;
	width: 100%;
	height: 24px;
	color: white;
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.topDiv span {
	background: rgba(0,0,0,0.6);
	border-radius: 0px 0px 6px 0px;
}

.topDiv a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
	margin: 10px;
}

.topDiv a:hover {
	text-decoration: underline;
	color: rgba(255,255,255,1);
}

.indexDiv {
	width: min(100%, 1100px);
	margin: 0px auto;
	cursor: default;
}

.mainLink {
	background: rgba(0,0,0,0.6);
	text-align: center;
	width: 90%;
	margin: 50px auto;
	border: 2px solid #fff;
	border-radius: 20px;
	cursor: default;
}

.mainLink a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 20px 0px;
	font-size: 25px;
	color: white;
	cursor: pointer;
}

.mainDiv {
	width: 1100px;
	margin: 0px auto;
	cursor: default;
}

.leftDiv {
	float: left;
	background: rgba(0,0,0,0.6);
	width: 280px;
	color: white;
	margin: 0px 50px 50px 0px;
	padding: 10px 10px 0px 10px;
	border-radius: 20px;
}

.leftDiv ul {
	margin-left: -40px;
}

.leftDiv li {
	font-size: 14px;
	color: rgba(255,255,255,0.8);
	list-style-type: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 6px;
}

.leftDiv .tip {
	font-size: 15px;
	color: white;
}

.leftDiv .l {
	color: rgba(255,255,255,0.8);
}

.leftDiv .l:hover {
	color: rgba(255,255,255,1);
}

.posterImg {
	width: 274px;
	height: auto;
	border: 3px solid #fff;
	border-radius: 15px;
}

.rightDiv {
	margin: 50px 0px 50px 350px;
	background: rgba(0,0,0,0.6);
	width: 650px;
	height: 200%;
	color: white;
	padding: 50px 50px 10px 50px;
	border-radius: 20px;
	display: block;
	overflow: auto;
}

.rightDiv .titleP {
	text-align: center;
	font-size: 30px;
}

.rightDiv .seasonP {
	padding: 0px 0px 20px 0px;
	text-align: center;
	font-size: 20px;
}

.rightDiv .seasonP a {
	text-decoration: none;
	color: rgba(255,255,255,0.7);
}

.rightDiv .seasonP a:hover {
	text-decoration: underline;
	color: rgba(255,255,255,1);
}

.episodeDiv {
	width: 50px;
	height: 50px;
	font-size: 22px;
	line-height: 6px;
	border: 1.5px solid rgba(255,255,255,0.4);
	border-radius: 8px;
	margin: 6px 6px 6px 6px;
	padding: 1px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
}

.episodeDiv:hover {
	background: rgba(255,255,255,0.3);
}

.rightDiv .introductionP {
	font-size: 17px;
	padding: 20px 0px 40px 0px;
}

.rightDiv .introductionP span {
	font-size: 15px;
}

.videoDiv {
	float: right;
	width: 260px;
	height: auto;
	border: 1.5px solid rgba(255,255,255,0.5);
	border-radius: 18px;
	margin: 0px 0px 20px 25px;
	padding: 0px 5px 0px 10px;
	line-height: 18px;
}

.videoDiv .episodeP {
	font-size: 20px;
}

.videoDiv span {
	color: rgba(255,255,255,0.6);
}

.videoDiv img {
	width: 30px;
	height: 30px;
	vertical-align:middle;
	border-radius: 5px;
}

.videoDiv a {
	color: white;
	display: block;
	text-decoration: none;
	font-size: 18px;
}

.videoDiv .linkDiv {
	width: 160px;
	height: 30px;
	margin: 5px 0px;
	border-radius: 6px;
}

.videoDiv .linkDiv:hover {
	background: rgba(255,255,255,0.3);
}

@media all and (orientation : portrait) {

	.topDiv {
		text-align: center;
	}

	.topDiv span {
		border-radius: 0px 0px 6px 6px;
	}

	.mainDiv {
		display: flex;
		width: 100%;
	}

	.leftDiv {
		display: none;
	}

	.rightDiv {
		margin: 5px;
		width: 100%;
		padding: 5px;
		display: flex;
		flex-direction: column;
	}

	#ep {
		order: 1;
	}

	.videoDiv {
		width: calc(100% - 20px);
		margin: 5px;
		padding: 5px;
	}

	.videoDiv .episodeP {
		font-size: 22px;
	}

	.videoDiv .linkDiv {
		width: 100%;
		height: 40px;
		margin: 8px 0px;
		border-radius: 8px;
	}

	.videoDiv a {
		font-size: 22px;
	}

	.videoDiv img {
		width: 40px;
		height: 40px;
		border-radius: 8px;
	}

	.rightDiv .introductionP {
		display: none;
	}
	
}
