@charset "utf-8";
/* CSS Document */
.load {
	width: 16px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('https://k-on.blog/loading.gif');
}
.heng {
	width: 350px;
	height: 235px;
	background-repeat: no-repeat;
}
.shu {
	width: 350px;
	height: 525px;
	background-repeat: no-repeat;
}
.p1 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/47231c0aee3fac6119384909fd5b3bab.jpg');
}
.p2 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/50e6f72bffbb483d471527a316eba563.jpg');
}
.p3 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/94c94bdff57a0fdb712fbf59e2c6f228.jpg');
}
.p4 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/9946cc16b237a18dd5f2b78980005596.jpg');
}
.p5 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/95b0758350bfe763460cb2437e6d8710.jpg');
}
.p6 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/64f6203a139ceb0f83cc6372ea41d9f6.jpg');
}
.p7 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/9a9269d001a030e0cbc9d26bb7fb461c.jpg');
}
.p8 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/942fa0d2b97f91fd892894b1cc632a97.jpg');
}
.p9 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/ca3fad0058f02f92ea315f55ceaaecf8.jpg');
}
.p10 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/b78908e3e441be55053c2368094d744a.jpg');
}
.p11 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/361f63fa25a619ffc575e4ee091da0cc.jpg');
}
.p12 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/f3f0f5e9bdceb71fdb3c1525c2849c53.jpg');
}
.p13 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/7cc14fd6896987d7feab2a9886b38781.jpg');
}
.p14 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/affef8d0136eff48e6750a0bbc0d5bd9.jpg');
}
.p15 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/56d7f5f854ab5fd018b88803bb25016d.jpg');
}
.p16 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/d5766f4a7ddec6e9022c91be9353b6b9.jpg');
}
.p17 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/69785cbf687ff5ae224af43461ea237e.jpg');
}
.p18 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/20617f90aaeb29523bebe40194db77df.jpg');
}
.p19 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/b604b22e4f4a67fbe12606354d84a13f.jpg');
}
.p20 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/3721696bce77fd274f8b864c66b74545.jpg');
}
.p21 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/adceb0d095ac60b6465134bb1fb24c31.jpg');
}
.p22 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/675835b8ad9761fffb059b5a86e169db.jpg');
}
.p23 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/2b6b4e0fa9aa6081d616d72b66028af3.jpg');
}
.p24 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/d7d22b462e914a556cab43c0e4d8513b.jpg');
}
.p25 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/bb9a379953f9028cd48186a686fbbb72.jpg');
}
.p26 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/e44a8c78534339946b59192dbf873358.jpg');
}
.p27 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/7498cc56445bfe96f77cf599a7139da0.jpg');
}
.p28 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/b929dada0baec14b19dd78956f6c6abb.jpg');
}
.p29 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/2df57235b6b56762ce5f0184b50e867c.jpg');
}
.p30 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/296f46c6819ea3b2a3121a9b8e3d8d65.jpg');
}
.p31 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/86b0a811f9004f4ba95ca3c0ea77ae0f.jpg');
}
.p32 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/3c2f4fd9fcd4c7e55bd127ff5d7a2d8b.jpg');
}
.p33 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/fd60522b6c693db359ced645ed24423e.jpg');
}
.p34 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/99031b14899f3af7f4e4b91a080fac74.jpg');
}
.p35 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/802e5d90c6eb2ad8d1f8ef7b17981caf.jpg');
}
.p36 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/363025e33a7ebff7d611289d85309e38.jpg');
}
.p37 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/1f97aa0feaabba81ecb6a6a86333f007.jpg');
}
.p38 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/3f12278b5e0263fb216bbc50a51e9243.jpg');
}
.p39 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/9648e1bcb10e74b4ff593ff511ad3176.jpg');
}
.p40 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/0212abea14e5976e3531a38686f12731.jpg');
}
.p41 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/2a8345f6bf4bad6f357e01dfbc1ce03f.jpg');
}
.p42 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/d54f67c1720a380b3e5615e552a40c5f.jpg');
}
.p43 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/dee5c74931050bfc059f6bd2bf39b719.jpg');
}
.p44 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/c72bd13ac6b3c8ac15867c3734a322e0.jpg');
}
.p45 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/79df71c5d6ced2ebcf015041ecca9c80.jpg');
}
.p46 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/e111acab77dbf3226c4f7562023765dc.jpg');
}
.p47 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/09cc5552e20d922410c20bc5b15764a9.jpg');
}
.p48 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/a3b049ac12a4f3c7ec56768cda7df204.jpg');
}
.p49 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/61d88b90abd03a0d41fe89dfe0d4508b.jpg');
}
.p50 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/b656663a540ec19c76ba5d786010a506.jpg');
}
.p51 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/94e2b4e32655e4399ab101cf737578be.jpg');
}
.p52 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/c38c6a4018825220e9b826b5f904ada6.jpg');
}
.p53 {
	background-image: url('https://wp.zp68.com/sub/filestores/2020/07/12/0d9198f3f53e98b8d43265e0c530da2f.jpg');
}