@charset "utf-8";
/* CSS Document */

.divm {
	position: fixed;
	width: 700px;
	height: 200px;
	background: rgba(0,0,0,0.00);
	top:50%;
	left: 45%;
	transform: translate(-350px,-100px);
	text-align: center;
}

.divin {
	position: fixed;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.00);
	top:0%;
	left: 100%;
	transform: translate(-50px,0px);
	text-align: center;
}

input {
	background-color: rgba(255,255,255,0.15);
	border: 0;
	outline: 0;
	color: #fff;
	caret-color: #fff;
	padding: 15px;
	width: 530px;
	font-size: 18px;
	border-radius: 8px;
}

#ss {
	width: 50px;
	height: 50px;
	opacity: 0.8;
	cursor: pointer;
}

#ss:hover {
	opacity: 1.0;
}