@charset "utf-8";
/* CSS Document */

body {
	background-color: black;
	font-family: "LXGW WenKai Screen", sans-serif;
}

.divm {
	position: fixed;
	top: 50%;
	left: 45%;
	width: 700px;
	height: 200px;
	background: rgba(0,0,0,0.00);
	text-align: center;
	transform: translate(-350px,-100px);
}

.divin {
	position: fixed;
	top: 0%;
	left: 100%;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0.00);
	text-align: center;
	transform: translate(-50px,0px);
}

input {
	padding: 10px;
	width: 530px;
	height: 30px;
	outline: 0;
	border: 2px solid rgba(255,255,255,0.8);
	color: #000;
	font-size: 22px;
	font-weight: 500;
	border-radius: 10px;
	background-color: rgba(200,200,200,0.6);
	caret-color: #000;
}

#ss {
	width: 50px;
	height: 50px;
	background-color: rgba(200,200,200,0.6);
	border: 2px solid #fff;
	border-radius: 10px;
	opacity: 0.8;
	cursor: pointer;
}

#ss:hover {
	opacity: 1.0;
}
