@charset "utf-8";
/* CSS Document */

#divt {
	position: fixed;
	top: 100%;
	left: 100%;
	z-index: 99;
	width: 200px;
	height: 25px;
	background: rgba(200,200,200,0.6);
	color: #000;
	text-align: center;
	font-size: 18px;
	opacity: 0.8;
	cursor: default;
	transform: translate(-220px,-45px);
	box-shadow: 0px 0px 3px 3px rgba(200,200,200,0.6);
	border-radius: 10px;
}
