@charset "utf-8";
/* CSS Document */

.bfq {
	position: fixed;
	border-radius: 30px 30px 30px 30px;
	top: 95%;
	left: 2%;
	width: 360px;
	height: 150px;
	background: rgba(200,200,200,0.6);
	cursor: default;
	transform: translate(0px,-150px);
	box-shadow: 0px 0px 5px 5px rgba(200,200,200,0.6);
}

.bfq0 {
	position: fixed;
	border-radius: 30px 30px 30px 30px;
	top: 95%;
	left: 2%;
	width: 360px;
	height: 150px;
	background: rgba(200,200,200,0);
	cursor: default;
	transform: translate(0px,-150px);
}

.circle {
	position: fixed;
	top: 6%;
	left: 3%;
	width: 70px;
	height: 70px;
	background-color: rgba(200,200,200,1);
	border: 3px #000 solid;
	border-radius: 100px;
	cursor: default;
	transform: translate(0px,0px);
	overflow: hidden;
}

.pic {
	width: 100%;
	height: 100%;
}

.pic0 {
	opacity: 0.5;
	width: 100%;
	height: 100%;
}

.line {
	position: fixed;
	top: 6%;
	left: 3%;
	width: 290px;
	height: 1px;
	border-top: solid #000 3px;
	cursor: default;
	transform: translate(35px,73px);
}

.line0 {
	opacity: 0;
	position: fixed;
	top: 6%;
	left: 3%;
	width: 290px;
	height: 1px;
	border-top: solid #000 3px;
	cursor: default;
	transform: translate(35px,73px);
}

.divl {
	position: fixed;
	top: 60%;
	left: 0%;
	width: 50px;
	height: 55px;
	background: rgba(0,0,0,0);
	transform: translate(0px,-25px);
}

.divn {
	position: fixed;
	top: 60%;
	left: 100%;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0);
	transform: translate(-50px,-25px);
}

.divs {
	position: fixed;
	top: 93%;
	left: 0%;
	width: 360px;
	height: 50px;
	background: rgba(0,0,0,0);
	transform: translate(0px,-50px);
}

.divs0 {
	opacity: 0;
	position: fixed;
	top: 93%;
	left: 0%;
	width: 360px;
	height: 50px;
	background: rgba(0,0,0,0);
	transform: translate(0px,-50px);
}

#songs {
	font-size: 20px;
	cursor: default;
	color: #000;
	margin: 4px 8px 4px 8px;
	padding: 0px 15px 0px 15px;
	opacity: 0.9;
	width:320px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#singer {
	font-size: 15px;
	cursor: default;
	color: #000;
	margin: 4px 8px 4px 8px;
	padding: 0px 14px 0px 14px;
	opacity: 0.7;
	width:290px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.last1 {
	width: 40px;
	height: 40px;
	opacity: 0.8;
	cursor: pointer;
}

.last1:hover {
	opacity: 1.0;
}

.next1 {
	width: 40px;
	height: 40px;
	opacity: 0.8;
	cursor: pointer;
}

.next1:hover {
	opacity: 1.0;
}

.audio {
	position: fixed;
	top: 10%;
	left: 53%;
	width: 160px;
	height: 55px;
	background: rgba(0,0,0,0);
	transform: translate(-80px,0px);
}

.audio0 {
	opacity: 0;
	pointer-events: none;
	cursor: default;
	position: fixed;
	top: 10%;
	left: 53%;
	width: 160px;
	height: 55px;
	background: rgba(0,0,0,0);
	transform: translate(-80px,0px);
}

.audio1 {
	position: fixed;
	top: 60%;
	left: 50%;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0);
	transform: translate(-25px,-25px);
	z-index: 99;
}

.audio2 {
	position: fixed;
	top: 60%;
	left: 50%;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0,0);
	transform: translate(-25px,-25px);
	z-index: -10;
	opacity: 0;
}

.stop {
	width: 40px;
	height: 40px;
	opacity: 0.8;
	cursor: pointer;
}

.stop:hover {
	opacity: 1.0;
}

.divu {
	position: fixed;
	top: 35%;
	left: 86%;
	width: 20px;
	height: 50px;
	background: rgba(0,0,0,0);
	transform: translate(-10px,-25px);
}

.divu0 {
	opacity: 0;
	pointer-events: none;
	cursor: default;
	position: fixed;
	top: 35%;
	left: 86%;
	width: 20px;
	height: 50px;
	background: rgba(0,0,0,0);
	transform: translate(-10px,-25px);
}

.up1 {
	width: 20px;
	height: 20px;
	opacity: 0.7;
	cursor: pointer;
}

.up1:hover {
	width: 20px;
	height: 20px;
	opacity: 1.0;
}

.down1 {
	width: 20px;
	height: 20px;
	opacity: 0.7;
	cursor: pointer;
}

.down1:hover {
	width: 20px;
	height: 20px;
	opacity: 1.0;
}

.small {
	position: fixed;
	top: 88%;
	left: 93%;
	width: 30px;
	height:30px;
	background: rgba(0,0,0,0);
	transform: translate(-15px,-15px);
	opacity: 0.7;
	cursor: pointer;
	z-index: 99;
}

.small:hover {
	opacity: 1.0;
}

.small0 {
	opacity: 0;
	pointer-events: none;
	cursor: default;
	position: fixed;
	top: 88%;
	left: 93%;
	width: 30px;
	height:30px;
	background: rgba(0,0,0,0);
	transform: translate(-15px,-15px);
	z-index: -99;
}

.small > img {
	width: 30px;
	height: 30px;
}

.small0 > img {
	width: 30px;
	height: 30px;
}

.big {
	opacity: 0;
	pointer-events: none;
	cursor: default;
	position: fixed;
	top: 6%;
	left: 3%;
	width: 50px;
	height:50px;
	background: rgba(0,0,0,0);
	transform: translate(12.5px,12.5px);
	z-index: -99;
}

.big0 {
	opacity: 0;
	position: fixed;
	top: 6%;
	left: 3%;
	width: 50px;
	height:50px;
	background: rgba(0,0,0,0);
	transform: translate(12.5px,12.5px);
	cursor: pointer;
	z-index: 99;
}

.bigM {
	position: fixed;
	top: 6%;
	left: 3%;
	width: 50px;
	height:50px;
	background: rgba(0,0,0,0);
	transform: translate(12.5px,12.5px);
	cursor: pointer;
	z-index: 99;
}

.big > img {
	width: 50px;
	height: 50px;
}

.big0 > img {
	width: 50px;
	height: 50px;
}

.bigM > img {
	width: 50px;
	height: 50px;
}