@charset "utf-8";
/* CSS Document */

.bf {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: left;
	z-index: 99;
	cursor: pointer;
}

.zt {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: left;
	opacity: 0;
	z-index: -99;
}

.yc {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	right: 0;
	margin: left;
	z-index: 99;
	cursor: pointer;
}

.xs {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	right: 0;
	margin: left;
	opacity: 0;
	z-index: -99;
}


.left {
	position: fixed;
    top: 50%;
    left: 0%;
    width: 16px;
    height: 120px;
    text-align: center;
    transform: translate(0%,-50%);
	text-align: center;
	background-color: rgba(230,230,230,0.6);
	z-index: 120;
	cursor: pointer;
}

.left1 {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transform:rotate(180deg);
}

.right {
	position: fixed;
    top: 50%;
    left: 100%;
    width: 16px;
    height: 120px;
    text-align: center;
    transform: translate(-100%,-50%);
	text-align: center;
	background-color: rgba(230,230,230,0.6);
	z-index: 120;
	cursor: pointer;
}

.right1 {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#artist {
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 120;
	width: 85%;
	height: 20px;
	background: rgba(0,0,0,0);
	text-align: left;
	font-size: 15px;
	transform: translate(0%,0%);
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
} 

#bgName {
	color: rgb(0,0,0);
	background: rgb(230,230,230,0.6);
}

#title {
	color: rgb(0,0,0);
	text-decoration: none;
	cursor: pointer;
}

#title:hover {
	text-decoration: underline;
}
